html, body {
  height: 100%;
}
main {
  background-color: #0074c2;
  height: 100%;
}
.outer-block {
  height: 90%;
}
.main-block {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
.btns {
  width: 40%;
}
.play-btn {
  padding: 15px 45px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: none;
  transition-duration: 0.3s;
  transition-property: background, color;
}
.play-btn {
  margin-top: 10px;
}
.play-btn:hover {
  background: white;
  color: #0074c2;
  transition-duration: 0.3s;
  transition-property: background, color;
}
.btns .form-control {
  /*background: none;*/
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  color: #0074c2;
  font-size: 20px;
}
.btns .form-control:hover {
  outline: none;
}
.btns .form-control:focus{
  outline: none;
  border: 2px solid white;
}
